einops==0.8.0
fvcore==0.1.5.post20221221
matplotlib==3.5.3
mayavi==4.8.2
mmdet==3.3.0
mmdet3d==1.4.0
mmengine==0.10.7
numpy==1.24.1
nuscenes_devkit==1.1.11
onnx==1.16.2
opencv_python==4.13.0.90
packaging==24.1
prettytable==3.10.2
psutil==7.2.2
pyquaternion==0.9.9
pytest==9.0.2
pyturbojpeg==1.8.2
regex==2024.7.24
scipy==1.14.0
setuptools==60.2.0
termcolor==2.4.0
tifffile==2025.5.10
torch==2.2.0
torch_scatter==2.1.2+pt22cu121
torchvision==0.17.0
tqdm==4.65.2
